.main {
	width: 100%;
	max-width: 500px;
	margin: auto;
	padding: 1rem;
	text-align: center;
}

.main ul {
	width: 100%;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.2rem 1rem;
}

.main ul li:nth-child(2) {
	text-transform: capitalize;
}

.main ul li:nth-child(1),
.main ul li:nth-child(3),
.main ul li:nth-child(5),
.main ul li:nth-child(7) {
	text-align: right;
}

.main ul li:nth-child(2),
.main ul li:nth-child(4),
.main ul li:nth-child(6),
.main ul li:nth-child(8) {
	text-align: left;
}

.main button {
	padding: 0.2rem 0.5rem;
	color: #fff;
	background-color: #00406b;
	border-radius: 0.2rem;
	border: 0px solid transparent;
	letter-spacing: 0.1rem;
	cursor: pointer;
	transition: background-color 300ms;
}

.main button:hover {
	background-color: #09f;
}
